<launch>
  <arg name="sim" default="true"/>

  <include file="$(find asl_turtlebot)/launch/root.launch">
    <arg name="world" value="project" />
    <arg name="x_pos" default="3.4"/>
    <arg name="y_pos" default="1.6"/>
    <arg name="z_pos" default="3.14"/>
    <arg name="rviz" default="project_test"/>
    <arg name="model" default="asl_turtlebot"/>
    <arg name="sim" default="$(arg sim)"/>
    <arg name="detector" default="detector_mobilenet.py" />
  </include>

  <node pkg="asl_turtlebot" type="navigator.py" name="navigator" output="screen">
    <param name="waypoints" value="[[3.2538, 0.3083, 3.1416], [0.2786, 0.7635, 1.5720], [0.5609, 1.6260, -0.0034], [2.3024, 1.5072, -1.5598], [2.3834, 2.2146, 1.5818], [2.0561, 2.7895, -3.1337], [0.5734, 2.6685, -2.2114], [0.2691, 0.2956, -0.0019]]"/>
  </node>
</launch>
